<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""> <!-- website name -->
    <meta property="og:site" content=""> <!-- website link -->
    <meta property="og:title" content=""> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article">

    <!--title-->
    <title>Datrics Data Science & Analytics HTML Template</title>

      <!--favicon icon-->
      <link rel="icon" href="{{url_for('static',filename='img/favicon.png')}}" type="image/png" sizes="16x16">

      <!--google fonts-->
      <link href="css2?family=Montserrat:400,500,600,700%7COpen+Sans:400,600&display=swap" rel="stylesheet">
  
      <!--Bootstrap css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
      <!--Magnific popup css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.css')}}">
      <!--Themify icon css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/themify-icons.css')}}">
      <!--Fontawesome icon css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
      <!--animated css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">
      <!--ytplayer css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.mb.YTPlayer.min.css')}}">
      <!--Owl carousel css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css.carousel.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='css.theme.default.min.css')}}">
      <!--custom css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
</head>
<body style="background-color: #edf7f6;">

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->

<div >
    <a class="navbar-brand" href="{{url_for('home')}}" style="padding-left: 40px ;">
        <img src="{{url_for('static',filename='img/logo1.png')}}"  alt="logo" class="img-fluid">
    </a>
    <section class="hero-equal-height pt-165 pb-100 overflow-hidden" style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
        
        <h1  style="font-family: Arial, Helvetica, sans-serif; padding-top: 20px; color: #00d2ff">Story</h1>
           
        <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2Fsocial%2Bmedia%2Bstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=-2&amp;sceneTime=0" width="1200" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>        
    </section>
    </div>
</div>
        
<!--footer section start-->
<footer class="footer-section">
    <!--footer top start-->
    <div class="footer-top gradient-bg">
        
                        
                        
             
    <!--footer top end-->

    <!--footer copyright start-->
    <div class="footer-bottom gray-light-bg py-2">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-5">
                    <p class="copyright-text pb-0 mb-0">Copyrights © 2023. All
                        rights reserved by
                        <a href="" target="_blank">Us</a></p>
                </div>
                <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                    <div class="social-nav text-right">
                        <ul class="list-unstyled social-list mb-0">
                            <li class="list-inline-item tooltip-hover">
                                <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                <div class="tooltip-item">Facebook</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-twitter"></span></a>
                                <div class="tooltip-item">Twitter</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-linkedin"></span></a>
                                <div class="tooltip-item">Linkedin</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-dribbble"></span></a>
                                <div class="tooltip-item">Dribbble</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer copyright end-->
</footer>
<!--footer section end-->

<!--bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="ti-angle-up"></span>
</button>
<!--bottom to top button end-->


<!--jQuery-->
<script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
<!--Popper js-->
<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
<!--Bootstrap js-->
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<!--Magnific popup js-->
<script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
<!--jquery easing js-->
<script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
<!--jquery ytplayer js-->
<script src="{{url_for('static',filename='js/jquery.mb.YTPlayer.min.js')}}"></script>
<!--Isotope filter js-->
<script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>
<!--wow js-->
<script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
<!--owl carousel js-->
<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
<!--countdown js-->
<script src="{{url_for('static',filename='js/jquery.countdown.min.js')}}"></script>
<!--custom js-->
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
</body>
</html>